.bandeaux{
	width: 1493px;
	height: 325.922px;
	padding:70px 45px 70px 45px;
	border-bottom: 8px solid;
	background-color: black;
	border-color: rgb(34,34,34);
}


@media (max-width: 540px) {
  .bandeaux{
    padding:50px 10px;
    width:100%;
    height: 100%;

  }
}