.bouton-faq{
	width: 726,6px;
	height: 32.994px;
	padding: 20.8px 57.2px 20.8px 57.2px;
	margin-bottom: 1px;
	color: white;
	background-color: rgb(48,48,48);
	cursor: pointer;
	font: helvetica;
	border:none;
	font-size: 26px;
}