.header{
	display: flex;
	flex-grow: 1;
	align-items: flex-start;
	justify-content: space-between;
	height: 80px;
	width: 1471px;
	margin: 0px 56px;
	padding: 20px 0px 10px;

}


@media (max-width: 540px) {
  .header{
    width: 430px;
    margin: 0px auto;
    padding: 20px 0px 10px;

  }
