.text-bottom{
	width:1000px;
	height: 356px;
	padding: 70px 45px 0px 45px;
	margin-right: auto;
	margin-left: auto;
}




@media (max-width: 540px) {
  .text-bottom{
    width:434px;
    height:100%;
    padding:50px 24px 0px 24px;
  }
}