.title{
	width: 547.047px;
	margin-bottom: 8px;
	font-size: 50px;
	font-family: 'helvetica';
	font-weight: bold;
	color:white;
}


@media (max-width: 540px) {
  .title{
    font-size: 26px;
    width:434px;
    height: 28px;
    margin: 0px auto;
    text-align: center;

  }
}